<p class="rptheader">XML Data File Upload</p>

<div class="row" >
  <div class="col-md-1">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-1">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>

    
  </div>
  <div class="col-md-10">
    <span class="upload" *ngIf="uploadFileModel.message">
      {{uploadFileModel.message}} File Name : {{uploadFileModel.fileName}}
    </span>
  </div>
  </div>
