<h1>Excel Report By Mukesh Singh!</h1>
<p>Reports:</p>
<ul>
  <li>Reports Page will list all the generated excel reports</li>
  <li>Click on excel file to view the report</li>
</ul>
<p>XML Upload:</p>
<ul>
  <li>Upload an xml data file</li>
  <li>System will use TestReport.xlsx template file to merge the data in "F 20.04" sheet</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
